{% extends "rango/base.html" %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/about.css" %}">

{% block body_block %}	
	<div class="page-header">
		<h1>About...</h1>
	</div>
	<div>
		<p>This is <strong>Rango's about page</strong>.</p>
		<img src="{% static "images/about.jpg" %}" alt="About sign" />
	</div>

	<button onClick="alert('By JavaScript');">Click me - I run JavaScript</button>

	<button id="about-btn">Click me - I run jQuery</button>
	
{% endblock %}
