{% extends "base.html" %}

{% load staticfiles %} {# django code to enable static files #}

{% block body_block %}
	
	{% if user.is_authenticated %}
		<h1>Rango says... Hello {{ user.username }}</h1>
	{% else %}
		<h1>Rango says... Hello World!</h1>
	{% endif %}

	{% if categories %}		{# if there are any categories... #}
		<ul>
			{% for category in categories %}
				<li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
			{% endfor %}	
		</ul>

		<h2>Top Categories</h2>
		<ol>
			{% for category in top_categories %}
				<li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
			{% endfor %}
		</ol>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}

{% endblock body_block %}
